[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
ipykernel = "*"
numpy = "*"
openpyxl = "*"
matplotlib = "*"
jinja2 = "*"
pandas-io-formats-style = "*"

[requires]
python_version = "3.7"
